In [1]:
import pandas as pd

### Interesting Points
The most popular item is also the most profitable ("Final Critic", Item ID 92).
There are far more male players making purchases.
There are twice as many players who need parental permission to make purchases (13 and Under) than players over the age of 38.

### All Purchasing Data

In [3]:
#read in the data
pymoli_all_df=pd.read_csv("C:/Users/annel/Desktop/pandas-challenge/HeroesOfPymoli/Resources/purchase_data.csv", sep=",")
#set it as a view rather than a copy to prevent a later error
pymoli_no_dup_df=pymoli_all_df.loc[:,["SN","Age","Gender","Price","Item Name","Item ID"]]
#get rid of duplicates
pymoli_no_dup_df=pd.DataFrame.drop_duplicates(pymoli_all_df, subset=["SN"])
pymoli_no_dup_df=pymoli_no_dup_df.set_index("Purchase ID")
pymoli_no_dup_df.head(20)

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44
5,Yalae81,22,Male,81,Dreamkiss,3.61
6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,Undjask33,22,Male,21,Souleater,1.10
9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,Lisirra25,20,Male,40,Second Chance,2.52
17,Zontibe81,21,Male,161,Devine,1.76
18,Reunasu60,22,Female,82,Nirvana,4.90
19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64

### Player Count

In [4]:
#player count in a data frame step 1: get the total player count, 
#step two: put the total player count in a new df, step three: show the result
player_count=len(pymoli_no_dup_df["SN"])
pd.DataFrame({"Total No. of Players":[player_count]})

   Total No. of Players
0                   576

### Purchasing Analysis

In [5]:
#Purchasing analysis to include: 
#["Number of Unique Items", "Avg. Purchase Price", "Total Number of Purchases", "Total Revenue"]

num_of_items=len(pymoli_all_df["Item ID"].unique())
total_purchases=pymoli_all_df["Price"].count()
revenue=pymoli_all_df["Price"].sum()
avg_price=pymoli_all_df["Price"].mean()

purchasing_analysis_df =pd.DataFrame(({"Number of Unique Items":[num_of_items], 
                                       "Avg. Purchase Price": [avg_price], 
                                       "Total Number of Purchases": [total_purchases], 
                                       "Total Revenue": [revenue] 
                                      }))
#make it prettier
purchasing_analysis_df=purchasing_analysis_df.round(2)
purchasing_analysis_df["Avg. Purchase Price"]=purchasing_analysis_df["Avg. Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"]=purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)

purchasing_analysis_df=purchasing_analysis_df.loc[:,["Number of Unique Items", 
                                                     "Avg. Purchase Price", 
                                                     "Total Number of Purchases", 
                                                     "Total Revenue"]]
purchasing_analysis_df

,Number of Unique Items,Avg. Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

### Gender Demographics

In [6]:
#Gender demographics to include: 
#(rows)Male, Female, Other/Non-disclosed (columns)["Percent of Players", "Count of Players"]
gender_demog_totals=pymoli_no_dup_df["Gender"].value_counts()
gender_percents=gender_demog_totals/player_count

gender_summary_df = pd.DataFrame({"Count of Players":gender_demog_totals,"Percent of Players":gender_percents})

#have the Percent column display as a percent
gender_summary_df["Percent of Players"]=gender_summary_df["Percent of Players"].map("{:,.2%}".format)
#display as a view
gender_summary_df=gender_summary_df.loc[:,["Count of Players","Percent of Players"]]
gender_summary_df

                       Count of Players Percent of Players
Male                                484             84.03%
Female                               81             14.06%
Other / Non-Disclosed                11              1.91%

### Purchasing by Gender Analysis

In [7]:
#purchasing analysis by gender to include all in the initial purchasing analysis broken down by gender
#so... probably groupby gender and then deliver results in the new data frame
gender_revenue= pymoli_all_df.groupby(["Gender"]).sum()["Price"]
gender_purchase_count=pymoli_all_df.groupby(["Gender"]).count()["Price"]
gender_avg_price=pymoli_all_df.groupby(["Gender"]).mean()["Price"]

avg_total_gender= gender_revenue/gender_summary_df["Count of Players"]


purchasing_by_gender_df=pd.DataFrame({"Avg. Purchase Price": gender_avg_price,
                                      "Avg. Total per Person": avg_total_gender,
                                      "Total Number of Purchases":gender_purchase_count,
                                     "Total Revenue":gender_revenue                                     
                                     })
#make it pretty
purchasing_by_gender_df["Avg. Purchase Price"]=purchasing_by_gender_df["Avg. Purchase Price"].map("${:,.2f}".format)
purchasing_by_gender_df["Total Revenue"]=purchasing_by_gender_df["Total Revenue"].map("${:,.2f}".format)
purchasing_by_gender_df["Avg. Total per Person"]=purchasing_by_gender_df["Avg. Total per Person"].map("${:,.2f}".format)
#display dataframe
purchasing_by_gender_df=purchasing_by_gender_df.loc[:,["Avg. Purchase Price",
                                                       "Avg. Total per Person",
                                                       "Total Number of Purchases",
                                                       "Total Revenue"]]
purchasing_by_gender_df

,Avg. Purchase Price,Avg. Total per Person,Total Number of Purchases,Total Revenue
Gender,,,,
Female,$3.20,$4.47,113,$361.94
Male,$3.02,$4.07,652,"$1,967.64"
Other / Non-Disclosed,$3.35,$4.56,15,$50.19

### Age Demographics

In [13]:
#age demographics -- The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)

#make bins
age_df=pymoli_all_df
bins=[0,13.9,18.9,23.9,28.9,33.9,38.9,9999]
labels=["13 and Under","14-18","19-23","24-28","29-33","34-38","39+"]

#group users in bins by age
age_df["Age Ranges"] = pd.cut(pymoli_no_dup_df["Age"], bins, labels=labels)

#calculate total number in each bin
age_group_total_users=age_df["Age Ranges"].value_counts()

### Age Purchasing Analysis

In [14]:
 # ["Purchase Count", "Avg. Purchase Price", "Total Purchase Value", "Avg. Purchase Total Per Person"]
#do calculations

age_purchase_count=age_df.groupby(["Age Ranges"]).count()["Price"]
age_revenue=age_df.groupby(["Age Ranges"]).sum()["Price"]
age_avg_price=age_df.groupby(["Age Ranges"]).mean()["Price"]

age_avg_per_person=age_revenue/age_group_total_users
#create summary dataframe
age_summary_df=pd.DataFrame({"Total Number of Purchases":age_purchase_count,
                             "Total Revenue":age_revenue,
                             "Avg. Purchase Price": age_avg_price,
                             "Avg. Purchase Total Per Person": age_avg_per_person
                            })
#make it pretty
age_summary_df["Avg. Purchase Price"]=age_summary_df["Avg. Purchase Price"].map("${:,.2f}".format)
age_summary_df["Total Revenue"]=age_summary_df["Total Revenue"].map("${:,.2f}".format)
age_summary_df["Avg. Purchase Total Per Person"]=age_summary_df["Avg. Purchase Total Per Person"].map("${:,.2f}".format)
age_summary_df

,Total Number of Purchases,Total Revenue,Avg. Purchase Price,Avg. Purchase Total Per Person
13 and Under,37,$118.36,$3.20,$3.20
14-18,92,$283.75,$3.08,$3.08
19-23,227,$687.43,$3.03,$3.03
24-28,115,$353.23,$3.07,$3.07
29-33,55,$162.00,$2.95,$2.95
34-38,32,$104.11,$3.25,$3.25
39+,18,$59.77,$3.32,$3.32

### Top Spenders

In [10]:
#* Identify the the top 5 spenders in the game by total purchase value, then list (in a table): 
#["SN", "Purchase Count", "Avg. Purchase Price", "Total Purchase Price"]

#get requested data on top spenders
total_spend_user=pymoli_all_df.groupby(["SN"]).sum()["Price"]
user_purchase_count=pymoli_all_df.groupby(["SN"]).count()["Price"]
user_avg_price=pymoli_all_df.groupby(["SN"]).mean()["Price"]

#create data frame
top_spender_df=pd.DataFrame({"Purchase Count":user_purchase_count,
                            "Avg. Purchase Price":user_avg_price,
                            "Total Purchase Price":total_spend_user})
#sort by total
top_spender_df=top_spender_df.sort_values("Total Purchase Price",ascending=False)
#make it pretty
top_spender_df["Avg. Purchase Price"]=top_spender_df["Avg. Purchase Price"].map("${:,.2f}".format)
top_spender_df["Total Purchase Price"]=top_spender_df["Total Purchase Price"].map("${:,.2f}".format)
top_spender_df.head(5)

             Purchase Count Avg. Purchase Price Total Purchase Price
SN
Lisosia93                 5               $3.79               $18.96
Idastidru52               4               $3.86               $15.45
Chamjask73                3               $4.61               $13.83
Iral74                    4               $3.40               $13.62
Iskadarya95               3               $4.37               $13.10

### Most Popular Items

In [11]:
#* Identify the 5 most popular items by purchase count, then list (in a table):
 # ["Item ID","Item Name","Purchase Count","Item Price","Total Purchase Value"]

#calculate purchase count by item id
item_count=pymoli_all_df.groupby(["Item ID","Item Name"]).count()["Price"]
item_revenue=pymoli_all_df.groupby(["Item ID","Item Name"]).sum()["Price"]
item_price=pymoli_all_df.groupby(["Item ID","Item Name"]).mean()["Price"]
#create data frame
pop_item_df=pd.DataFrame({"Item Price":item_price,
                         "Purchase Count":item_count,
                         "Total Purchase Value":item_revenue})
#sort
pop_item_sorted_df=pop_item_df.sort_values("Purchase Count",ascending=False)
#make it pretty
pop_item_sorted_df["Item Price"]=pop_item_sorted_df["Item Price"].map("${:,.2f}".format)
pop_item_sorted_df["Total Purchase Value"]=pop_item_sorted_df["Total Purchase Value"].map("${:,.2f}".format)
pop_item_sorted_df.head(5)

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,$4.61,13,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
145,Fiery Glass Crusader,$4.58,9,$41.22
132,Persuasion,$3.22,9,$28.99
108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77

### Most Profitable Items

In [12]:
#* Identify the 5 most profitable items by total purchase value, then list (in a table):
 #["Item ID","Item Name","Purchase Count","Item Price","Total Purchase Value"]
profit_item_df=pop_item_df
#sort
profit_item_df=profit_item_df.sort_values("Total Purchase Value",ascending=False)
#make it pretty
profit_item_df["Item Price"]=profit_item_df["Item Price"].map("${:,.2f}".format)
profit_item_df["Total Purchase Value"]=profit_item_df["Total Purchase Value"].map("${:,.2f}".format)

profit_item_df.head(5)

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,$4.61,13,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
82,Nirvana,$4.90,9,$44.10
145,Fiery Glass Crusader,$4.58,9,$41.22
103,Singed Scalpel,$4.35,8,$34.80